body {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.banner {
  margin: 0 auto;
  padding: 0 126px;
  max-width: 828px;
  max-height: 413px;
  background-image: linear-gradient(to right, #1489e7, #003e82);
  display: flex;
  overflow: hidden;
}

/*.img-cards {*/
  /*margin: -86px 0 0 -160px;*/
  /*height: 550px;*/
/*}*/

.text {
  margin: 26px 0;
  height: 413px;
  display: flex;
  flex-direction: column;
}

.text-header {
  margin: 65px 13px 18px;
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}

.text-content {
  margin: 0 13px 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.banner-button {
  margin: 0 13px 20px;
  width: 212px;
  height: 62px;
  border-radius: 6px;
  background-color: #ffdd2d;
  border: none;
  font-size: 17px;
  line-height: 1.41;
  font-family: Roboto, sans-serif;
  color: #333;
  cursor: pointer;
  transition: background-color .3s
}

.banner-button:hover {
  background: darken(@main-color, 10%);
}

.banner-button:active,
.banner-button:focus {
  background: saturate(@main-color, 20%);
  color: #777;
}
